<script>

  var sectionHeaderAdded = false;

  $(document).ready(function () {

    /* approve default cookie message which was replaced by consent tool */
    //$('[name="approveCookies"]').click();

    /* change menu link href for Catalogue to directly filter Microsoft 365 products */
    $('.nav-item .nav-link[href*="/catalogue"]').attr('href', '/catalogue/?category=da57bbda-a938-4397-a5ab-adbe00d18bcc');

    /* add new menu items, but only if user is logged in */
    const isLoggedIn = ($('[onclick*="logout"]').length == 1);
    if (isLoggedIn) {
      $('.nav-item .nav-link[href*="/catalogue"]').closest('li').after('<li class="nav-item"><a class="nav-link font-weight-bold " href="/my-subscriptions">Kunden</a></li>');

      $('#navbar-main-menu a[href*="my-billing"]').attr('href', '/my-orders/');

      $('.nav-item .nav-link[href*="/my-orders"]').closest('li').after('<li class="nav-item"><a class="nav-link font-weight-bold " title="FAQ" href="#" rel="noopener" target="_blank" data-toggle="modal" data-target="#faqModal">FAQ</a></li>');

    }

    /* Excel Export button styling */
    $('.btn-export a').append('<span>Excel-Datei exportieren</span>');

    /* set new menu items active if user is on any subpage of it */
    const isPageCatalogue = (location.pathname == '/my-subscriptions/');
    if (isPageCatalogue) {
      $('.nav-link[href="/my-subscriptions"]').addClass('active');
    }

    /* redirect product title click in catalogue to editions & pricing */
    $('#catalogue .product-listing a.btn[href*="#nav-editions"]').each(function (el) { var navLink = $(this).attr('href'); $(this).closest('.product').find('.title a').attr('href', navLink); });

    /* give content tables a gray header */
    $('.basket-tab > .row').prepend('<div class="card-header font-weight-bold">Prüfen Sie Ihre Artikel</div>');


    if (sectionHeaderAdded == false) {
      $('#product-main-tabs-content').prepend('<div class="card-header font-weight-bold">Wählen Sie die passende Edition</div>');
      sectionHeaderAdded = true;
    }

    /* hide monatliche finale Preise im Checkout */
    $('.totals .text-right').each(function (el) { if ($(this).html() == 'Monat') { $(this).closest('tr').hide(); } });

    /* add button class to action buttons */
    $('#new-end-customer-btn').addClass('btn-primary');

    /* changes the path of the button */
    $('.btn-continue-shopping').attr('data-redirected-url', '/catalogue/?category=b883f753-2d04-4f34-925c-adbe00d18b73');

    /* replace checkout button text on step 2 and clone buttons to top */
    $('#nav-tab-step-1 button[name="finalize"] span').html('Bestellung abschließen');

    //var stepButtons = $('#nav-tab-step-1 [data-form-name="checkout-wizard"] > div > div:last-child').clone();
    //$('#nav-tab-step-1 [data-form-name="checkout-wizard"]').prepend(stepButtons);

    /* replace checkout content on step 2 */
    const isCheckoutSecondStep = ($('#checkout #nav-tab-step-1').length == 1);
    if (isCheckoutSecondStep) {
      window.removeLoader();
      window.addLoader();
      $.ajax({
        url: "https://microsoft-cloud-store.comline.app/checkout/"
      }).done(function (data) {
        var summary = $(data).find('#nav-tab-step-0 .basket-tab #basketItems').html();
        var s = $(summary).find('.item-action').html('<span></span>').closest('table');
        var totals = $(data).find('#nav-tab-step-0 .basket-tab .totals').parent().html();
        $('#nav-tab-step-1 [data-form-name="checkout-wizard"] > div > div:last-child').prepend($(totals));
        $('#nav-tab-step-1 [data-form-name="checkout-wizard"] > div > div:last-child').prepend($(s));
        $('#nav-tab-step-1 [data-form-name="checkout-wizard"] > div > div:last-child').prepend('<h3>Artikel im Warenkorb:</h3>');
        removeLoader();
      });
    }

    $('#nav-tab-step-1 [data-form-name="checkout-wizard"] > div > div:last-child').after(`
  <br><br><div>
  <br><br>
  <h3>Wichtige Hinweise:</h3>
  <p>
  Bitte prüfen Sie vor Abschluss des Auftrags Ihre Microsoft Partnerbeziehung (MPN). Informieren Sie sich ggf. über unsere FAQs unter <a title="FAQ" href="#" rel="noopener" target="_blank" data-toggle="modal" data-target="#faqModal">diesem Link.</a>
  </p>
  </div>`);


    /* checkout */


    /*
    
    
      $('#nav-tab-step-2 button[name="finalize"]').attr('disabled', 'true');
      
      
      $(document).ajaxComplete(function() {
      
      if ($('#nav-tab-step-2').length == 1) {
    
      if ($('.agreement-fields').length == 0) {
      
        if ( $('.domain-selector-box').length == 0) {
          $('.basket-tab .office-custom-fields-container .media-body').prepend(`<p class="domain-selector-box">
      <div class="domainSelectionField input-group input-group-sm mb-2">
        <label class="o__col-label ml-1 w-100">
          <input type="radio" name="domainSelectionGroup">
          Neue Microsoft Standard-Domain erzeugen</label>
        <input type="text" name="newDomain" id="newDomain" class="form-control form-control-sm ms-domain hidden">
        <div class="input-group-append domain-suffix hidden">
          <span class="input-group-text">.onmicrosoft.com</span>
        </div>
      </div>
      
      <div class="domainSelectionField input-group input-group-sm mb-2">
        <label class="o__col-label ml-1 w-100">
          <input type="radio" name="domainSelectionGroup">
          Bestehende Microsoft Standard-Domain (onmicrosoft.com)</label>
        <input type="text" name="existingStandardMSDomain" id="existingStandardMSDomain" class="form-control form-control-sm ms-domain hidden">
        <div class="input-group-append domain-suffix hidden">
          <span class="input-group-text">.onmicrosoft.com</span>
        </div>
      </div>
      
      <div class="domainSelectionField input-group input-group-sm mb-2">
        <label class="o__col-label ml-1 w-100">
          <input type="radio" name="domainSelectionGroup">
          Bestehende eigene Standard-Domain</label>
        <input type="text" name="existingOwnDomain" id="existingOwnDomain" class="form-control form-control-sm hidden"><br>
      <div class="o__col-label mt-3 mb-2 ml-4 w-100 hidden">
          Zugehörige Microsoft Standard-Domain</div>
        <input type="text" name="existingMicrosoftDomain" id="existingMicrosoftDomain" class="form-control form-control-sm ms-domain hidden">
        <div class="input-group-append domain-suffix hidden">
          <span class="input-group-text">.onmicrosoft.com</span>
        </div>
      </div>
      </p>`);
         }
       }
      }
      
      }); 
      
      
      
      //$('.media-body').append($('[data-fieldname="strmpnId"]').closest('.form-group').detach());
      
      //$('.media-body').append($('.custom-control.custom-checkbox').detach());
      
      
      $('[for="fld-6485"]').html('Falls Sie beim Microsoft Partner Network teilnehmen, tragen Sie bitte hier Ihre MPN ID ein:');
      
      $('.media-body .custom-control.custom-checkbox').addClass('hidden');
      
      $('body').on('click', '[name="domainSelectionGroup"]', function(el) {
        $('.domainSelectionField').find('[type="text"]').addClass('hidden');
        $('.domainSelectionField').find('div.o__col-label').addClass('hidden');
        $('.domainSelectionField').find('.domain-suffix').addClass('hidden');
        
        if ($(this).prop('checked')) { 
          $(this).closest('.domainSelectionField').find('[type="text"]').toggleClass('hidden');
          $(this).closest('.domainSelectionField').find('div.o__col-label').toggleClass('hidden');
          $(this).closest('.domainSelectionField').find('.domain-suffix').toggleClass('hidden');
        }
      
        if ($(this).closest('.domainSelectionField').find('[type="text"]').attr('id') == 'newDomain') {
          $('.media-body .custom-control.custom-checkbox').addClass('hidden');
        } else {
          $('.media-body .custom-control.custom-checkbox').removeClass('hidden');    
        }
      
      });
      
      
      $('#modal-define-default-domain-1781').off().on('shown.bs.modal', function () {
        var existingOwnDomain = $('#existingOwnDomain').val();
        $('#fld-default-domain-1781').val(existingOwnDomain);
        $('#fld-default-domain-submit-1781').click();
      });
      
      
      $('body').on('keyup', '.domainSelectionField input.ms-domain', function() {
          var current_val = $(this).val();
          $(this).closest('.media-body').find('[data-fieldname="strdomain"]').val(current_val); 
          $(this).closest('.media-body').find('[data-fieldname="strdomain"]').attr('value', current_val); 
          $(this).closest('.media-body').find('[data-fieldname="strdomain"]').focus(); 
          $(this).focus();
      
          if (current_val.length > 0) {
              $('#nav-tab-step-2 button[name="finalize"]').removeAttr('disabled');
          } else {
              $('#nav-tab-step-2 button[name="finalize"]').attr('disabled', 'true');
          }
      
      });
      
      */

    $('.subscription-item span').each(function (el) {
      if ($(this).text() == "Enabled") { $(this).text('Aktiv') }
      if ($(this).text() == "Disabled") { $(this).text('Inaktiv') }
    })


    fetchData();
  });

  //Banner

  async function fetchData() {
    let dataFire = "";
    let usefulSlides = [];
    try {
      const data = await axios(
        "https://europe-west3-clgmbh-shopadmin.cloudfunctions.net/fetch?collection=posts", {
        headers: {
          "Authorization": "Bearer EFsg9LM6t6FPDUH$tKVZ3RStg@NfosVVXg%6dHcq2S9!wY3CsLb4oUkWAgoJb4PEURK$F7XQhwE!tez6Hxm7yPE9uyvxr&jfQ5NNmKy8eLZu5stiQK%&p6jEsZSXo7d%"
        }
      }
      );
      dataFire = data.data;
      console.log(data);
    } catch (error) {
      console.error(error);
    }

    Object.values(dataFire).forEach(slide => {
      const fromTimestamp = createNewStamp(slide.fromDate)
      const toTimestamp = createNewStamp(slide.toDate)
      const nowTimestamp = getTimestamp();
      if (
        fromTimestamp <= nowTimestamp &&
        toTimestamp >= nowTimestamp &&
        slide.language === "DE" &&
        slide.selectedShops.includes('mcs')
      ) {
        usefulSlides.push(slide);
      }
    })
    createSlides(usefulSlides);
  }

  function createSlides(data) {
    const target = document.getElementById("slidesTarget")
    // first slide needs class "active"
    let htmlString = "";
    if (data.length > 0) {
      for (let i = 0; i < data.length; i++) {
        htmlString = htmlString + '<div class="carousel-item"><a href="' + data[i].link.url + '" target="' + data[i].link.target +
          '"><img src="' + data[i].url + '" alt="' + data[i].name + '"></a></div>';
      }
      target.innerHTML = htmlString;
      document.getElementsByClassName("carousel-item")[0].classList.add("active");
    }
  }



  function getTimestamp() {
    let date = new Date;
    let month = date.getMonth() + 1;
    month = month * 100;
    let day = date.getDate();
    let stamp = date.getFullYear() + month + day;
    return stamp;
  }

  function createNewStamp(date) {
    let newStamp = date;
    if (typeof date === "string") pieces = date.split("-")
    else pieces = false
    if (pieces && pieces.length === 3) {
      newStamp = Number(pieces[0]) + Number(pieces[1]) * 100 + Number(pieces[2]);

    }

    return newStamp;
  }

</script>