
/* Author: Daniela Lorenzen - ComLine GmbH - 13.09.2021*/

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  display: block;
}

h1 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff !important;
  text-shadow: 1px 1px 5px #777777;
}

.bg-sky {
  background: url(https://bss.eu.interworks.cloud/Data/System/2021/10/19/02D7AF05-ABF4-4733-80BC-06D4BEFA5A1E/sky.png);
  background-position-y: 0%;
  background-size: auto;
  background-size: cover;
  background-position-y: center;
  padding-bottom: 48px !important;
  border-bottom: 7px solid #4089c9;
}

.contact-box {
  margin: 20px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 4px;
  padding: 15px;
  min-height: 170px;
}

.img-circle {
  border-radius: 50%;
  max-width: 100%;
  width: 100px;
  margin: 20px;
  margin: auto;
}

address {
  font-size: 14px;
  color: #000000;
}

address a {
  color: #000000 !important;
}

@media only screen and (max-width: 767px) {
  address {
    text-align: center;
  }

  .center-small {
    display: flex;
    justify-content: center;
  }
}


h3 {
  position: relative;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #5c5c5c;
}






/* custom css */


body * {
  letter-spacing: .5px;
}

.rb-menu, .rb-MainHeader {
margin: auto !important;
width: 100%;
max-width: 1160px !important;
}

.main-header ul li span, .main-header ul li i{
font-size: 15px;
color: white !important;
font-weight: 300;
}

.container  {
min-width: 100% !important;
max-width: 100% !important;
}

.banner {
justify-content: center;
flex-wrap: wrap;
padding: 0px !important;
margin-bottom: 15px;
}

.banner h3 {
  margin-bottom: 10px;
}

.main-header {
  width: 100%;
  background-color: #4089c9;
  /*position: sticky;
  top: 0;
  height: 110px;*/
  z-index: 999;
}

#home { 
display: none;
}

nav {
flex-direction: row !important;
} 

.rb-menu { 
width: 100%;
}

.main-content {
  min-height: 82vh !important;
}

.main-footer .below { 
display: none;
}

.main-content {
max-width: 1160px !important; 
min-width: 360px !important;
margin-top: 30px;
}

.container .border-bottom { 
border: 0px !important;
}

#navbar-main-menu a {
color: hsla(0,0%,100%,.75) !important ; 
font-size: 15px;
font-weight: 300 !important;
} 

#navbar-main-menu a:hover, .navbar-main-menu a:active {
color: #eee !important; 
} 

.main-footer .container {
padding: 0px !important;
}

.navbar-toggler {
border-color: #ffffff !important;
}

.navbar-toggler span {
color: #fff !important;
}

.navbar-toggler-icon { 
filter: invert(1.0);
}

#navbar-main-menu a.active{
font-weight: 900 !important;
color: #ffffff !important;
}

@media (max-width: 991px) {
#navbar-main-menu {
  background-color: white;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  padding: 10px;
}  

#navbar-main-menu a,   #navbar-main-menu i,   #navbar-main-menu span {
  color: #000000 !important;
}

#navbar-main-menu a.active {
  color: #9e9e9e !important;
}

.rb-menu {
 justify-content: flex-end !important;  
}
}

.nav-link {
  padding: 0.5rem !important;
}

.navbar-brand {
  margin-right: -15px;
}

hr {
  border-color: #eeeeee;
}
address {
  font-size: 15px;
  color: #5c5c5c;
}
address .material-icons {
  font-size: 16px;
  vertical-align: text-bottom;
  margin-right: 5px;
  color: #555;
}

.card-header {
  width: 100%;
}


/* footer */

.main-footer.rb-MainFooter {
  margin-top: 60px;
  margin-bottom: 30px;
}

.custom-footer {
  max-width: 1160px;
  margin: 0 auto;
  padding-bottom: 5px;
}
.custom-footer .nav * {
  color: #9d9d9d !important;
  font-size: 15px;
  letter-spacing: .5px;
}

.custom-footer a {
  padding: 0 15px;
  font-size: 12px;
}
.custom-footer .navbar svg {
  height: 22px;
  width: 22px;
  fill: #fff;
  background-color: rgba(64, 137, 201, 1);
  padding: 4px;
  border-radius: 3px;
} 

#faqModal .modal-dialog {
  max-width: 960px;
  margin-top: 60px;
}

/* buttons */

.btn-primary, .btn-secondary {
  color: #4089c9 !important;
  background-color: #ffffff !important;
  border-color: #4089c9 !important;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 4px;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #4089c9 !important;
  border-color: #4089c9 !important;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
  color: #4089c9 !important;
  background-color: #ffffff !important;
  border-color: #4089c9 !important;
}

.btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled):active {
  color: #ffffff !important;
  background-color: #4089c9 !important;
  border-color: #4089c9 !important;
}




/* cookie banner */
.cookies-acceptance {
  display: none !important;
}

/* header */
.main-header img.brand-logo {
  height: 38px;
}

/* main navigation */

#navbar-main-menu a[href="https://microsoft-cloud-store.comline.app/"], 
#navbar-main-menu a[href*="/dashboard"] {
  display: none;
}


/* left navigation sidebar */

#categories-list .root-item:nth-child(1) {
  display: none;
}

#categories-list .root-item:nth-child(2) .tree-toggler {
  display: none;
}

#sub-categories .collapsed {
  display: none !important;
}

#sub-categories .nav-item .tree-label, #sub-categories .nav-item li {
  padding: 3px;
  font-size: 14px;
}

.input-group-sm > .form-control, .input-group-sm > .custom-select, .input-group-sm > .input-group-prepend > .input-group-text, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-append > .btn {
  font-size: 1.1rem !important;
}
.custom-select-sm {
  font-size: 1rem !important;
}

/* basket badge */

.rb-MainHeader .rb-cartIndicator {
  color: #ffffff;
  background: #f5f6f6;
  color: #4089c9 !important;
  border-radius: 50%;
  width: 24px;
  text-align: center;
}


/* product details */

.carousel-item tbody tr:last-child {
  display: none;
}

.row.product-details img {
  max-width: 32px;
}

.product-details .description {
  max-width: 580px;
}

/* hide category and industries and minimum starting price */
#product .category.details-item, #product .industries.details-item {
  display: none;
}
#product .meta .price {
  display: none;
}
.page-product #product-main-tabs-content .editions .o__row-label, .page-product #product-main-tabs-content .priceaddon .o__row-label {
  font-size: 1rem;
  margin-right: 25px;
}

/* hide tab overview */
a#nav-overview-tab {
  display: none;
}


/* product addons */

#product-main-tabs-content {
  border: 1px solid #ced4da;
  border-radius: 4px;
}

img.align-self-baseline.flex-shrink-0.mr-1.prod-addon-icon {
  display: none;
}

ul.list-unstyled.prod-addons-list {
  overflow: hidden;
  max-height: 0px;
  display: none !important;
}

td.productingroup-unitprices-container .d-flex {
  flex-direction: column;
}

td.productingroup-unitprices-container .d-flex .btn {
  margin-bottom: 10px;
}

#carousel-editions-pricing .control-icon, #carousel-cross-products .control-icon, #carousel-sub-products .control-icon {
  border-radius: 50%;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  height: 30px !important;
  width: 30px !important;
  text-align: center;
  background: #4089c9;
  color: #ffffff;
  align-content: center;
  font-size: 2rem !important;
  line-height: 30px !important;
  text-decoration: none;
  text-shadow: none !important;
}



.suggested-products {
  margin-top: 90px;
  border-top: 1px solid #cecece;
}

/* catalogue */

#catalogue .price {
  display: none;
}

.img-thumbnail {
  max-width: 60px;
  border: none;
}

.product-listing .bg-light {
  background-color: transparent !important;
  margin-bottom: 15px;
}

/* hide product category and vendor */
#catalogue .product-by, #catalogue .prod-category {
  display: none;
}

/* basket */

.addon-name img {
  display: none;
}

.basket-tab .col-12.col-lg-9 {
  -ms-flex: 0 0 100% !important;
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.basket-tab .col-12.col-lg-3 {
  margin-left: auto !important;
  flex: 0 0 36%;
  max-width: 36%;
}

.basket-tab .col-12.col-lg-3 button[type="submit"] {
  float: right;
}

#basketItems img {
  width: 24px;
}

h2.title, #product h2 {
  position: relative;
  margin-bottom: 10px !important;
}

.hidden { 
  display: none; 
}

.domainSelectionField {
  margin-bottom: 25px !important;
  max-width: 540px;
}

.domainSelectionField * {
  user-select: none;
}

.page-checkout .o__col-label {
  font-size: 1.15rem;
}

.basket-tab > .row {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  margin: 0px;
  padding-bottom: 15px;
}

.basket-tab > .row .card-header {
  margin-bottom: 25px;
}

/* hide Rabatt */
#basketItems th.o__col-label:nth-child(6), #basketItems tbody td:nth-child(6) {
  display: none;
}

/* hide gebührenanalyse */
table.table.table-sm.totals tbody tr.border-top, table.table.table-sm.totals tbody tr.border-bottom {
  display: none;
}


/* checkout */




[data-form-name="checkout-wizard"] img {
  width: 24px;
}

.basket-tab .cloudapp-name, .basket-tab .office-custom-fields-container img {
  display: none !important;
}

.domainSelectionField input[type="text"], .domainSelectionField p {
  margin-left: 20px;
}

.media-body .custom-control.custom-checkbox {
  margin-top: 15px;
  margin-bottom: 25px;
}

.basket-tab .lbl-user-registration .description {
  font-size: 1rem;
  font-weight: 500;
}

.media-body .form-group {
  max-width: 540px;
}

label[for="checkDomainVerification-1781"] {
  font-weight: 600 !important;
  font-size: 16px;
  margin-top: 25px;
}

.custom-control-label::before {
  position: absolute;
  top: 2px;
  left: -1.5rem;
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #4089c9 solid 2px;
}

.custom-control-label::after {
  position: absolute;
  top: 0.2rem;
  left: -1.5rem;
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  content: "";
  background: no-repeat 70%/70% 70%;
}


/* workspace */

#my-workspace img[src*="user"] {
  display: none;
}
#WorkspacePageName > div > h2 {
  display: none !important;
}
#my-workspace > div > .flex-row > span.align-self-end {
  display: none;
}
#WorkspacePageName .accordion {
  margin-top: 25px;
}
#my-workspace .col.meta {
  padding-left: 0;
  padding-bottom: 15px;
}

#WorkspacePageName .card-header {
  display: none;
}


/* Loader */

#loading {
background: #fff !important;
opacity: 0.85;
}

#loading .object {
  background-color: #4089c9 !important;
}

#loading:after {
  content: 'Lade Daten, bitte warten...';
  font-size: 36px;
  font-weight: 600;
  display: block;
  position: absolute;
  width: 100%;
  top: 35%;
  text-align: center;
  color: #4089c9;
}

/* Banner on homepage */

#slidesTarget {
  margin-bottom: 50px;
  padding: 0 calc(50% - 856px / 2);
}

#slidesTarget .carousel-item {
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  padding: 5px;
}